table, td, th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.logsTable td, .logsTable th {
    padding-block: 1em;
    padding-inline: 2em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.logs {
    padding-block: 2%;
}

.logsTable {
    margin-top: 5%;
}