table, td, th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.logsTable td, .logsTable th {
    padding-block: 1em;
    padding-inline: 2em;
}

tr:nth-child(even) {
    background-color: #d6d6d6;
}

.logs {
    padding-block: 2%;
}

.logsTable {
    margin-top: 5%;
}

.logsTable th{
    background-color: #bfd6ff;
}

.state {
    font-weight: bold;
}
.Created {
    color: #29ab27;
}
.Deleted {
    color: #CF1507;
}
.Shipped {
    color: #a69728;
}
.RefundAsked {
    color: #c95918;
}
.Refunded {
    color: #6112b5;
}
.Confirmed {
    color: #1311a8;
}