<header class="header">
    <h1>Welcome to ShopChain!</h1>
    <div class="navigation">
        <ul>
            <li>
                <span>Smart Contract: </span>
                <span><a href="https://testnet.snowtrace.io/address/{{smartContractAdress}}" target="_blank" rel="noopener noreferrer">{{smartContractAdress}}</a></span>
            </li>
            <li>
                <span>Your Address: </span>
                <span><a href="https://testnet.snowtrace.io/address/{{currentAddress}}" target="_blank" rel="noopener noreferrer">{{currentAddress}}</a></span>
            </li>
        </ul>
    </div>
</header>