.spacer {
    flex: 1 1 auto;
}

.title {
    padding-top: 5%;
}

a {
    color: white;
}

a:visited {
    color: #FAF200;
}

.link a {
    padding-inline: 0.5em;
}

.logoAvax {
    width: 8%;
    margin-bottom: -5px;
}

.header mat-toolbar-row {
    font-size:medium;
    height: 2em;
}