<mat-toolbar color="primary" class="header">

    <mat-toolbar-row>
        <span class="title">Benvenuto in ShopChain!</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span class="spacer"></span>
        <span>Indirizzo Smart Contract: </span>
        <span class="link"><a href="https://testnet.snowtrace.io/address/{{smartContractAdress}}" target="_blank" rel="noopener noreferrer"> {{smartContractAdressShort}}</a></span> 
    </mat-toolbar-row>
    
    <mat-toolbar-row>
        <span class="spacer"></span>
        <span>Il Tuo Indirizzo: </span>
        <span class="link"><a href="https://testnet.snowtrace.io/address/{{currentAddress}}" target="_blank" rel="noopener noreferrer"> {{currentAddressShort}}</a></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="spacer"></span>
        <span>Il Tuo Balance: {{balance}} AVAX <img src="../../../assets/avaxLogo.png" alt="Logo Avax" class="logoAvax"></span>
    </mat-toolbar-row>
</mat-toolbar>