.switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.switch h1 {
    font-weight: bold;
    font-size: 2em;
}

.switch h2 {
    font-size: 1.5em;
}

.switch button {
    margin-top: 2%;
}