<div>
    <h2>Orders:</h2>
    <table>
        <thead>
            <tr>
                <th>ID:</th>
                <th>BuyerAddress:</th>
                <th>SellerAddress:</th>
                <th>Amount:</th>
                <th>State:</th>
                <th>Operation:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{order.id}}</td>
                <td>{{order.buyerAddress}}</td>
                <td>{{order.sellerAddress}}</td>
                <td>{{order.amount}}</td>
                <td>{{order.state}}</td>
                <td>
                    <div *ngIf="order.state === 'Created' || order.state === 'Shipped' || order.state === 'Confirmed'; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock><button (click)="askRefund(order.id)">Ask refund</button></ng-template>
                    <ng-template #elseBlock>No operations available</ng-template>                    
                </td>
            </tr>
        </tbody>
    </table>
</div>