<div>
    <h2>Orders:</h2>
    <table>
        <thead>
            <tr>
                <th>ID:</th>
                <th>BuyerAddress:</th>
                <th>SellerAddress:</th>
                <th>Amount:</th>
                <th>State:</th>
                <th>Operation:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{order.id}}</td>
                <td>{{order.buyerAddress}}</td>
                <td>{{order.sellerAddress}}</td>
                <td>{{order.amount}}</td>
                <td>{{order.state}}</td>
                <td><button *ngIf="order.state === 'Created' || order.state === 'Shipped' || order.state === 'Confirmed'" (click)="askRefund(order.id)">Ask refund</button></td>
            </tr>
        </tbody>
    </table>
</div>