.access{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12%;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-size: 2em;
}

.title h3 {
    font-size: 1.5em;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons button{
    margin-top: 5%;
}