<app-header></app-header>

<div *ngIf="!isHisOrder; then thenBlock2 else elseBlock2"></div>
<ng-template #thenBlock2>
    <div class="error">
        <mat-error>Questo ordine non non è stato effettuato dal wallet con cui sei connesso!</mat-error>
        <br>
        <mat-error>Controlla di essere collegato al wallet corretto oppure <a routerLink="/ecommerce"> ritorna all'e-commerce</a> e inserisci il wallet giusto.</mat-error>
    </div>

</ng-template>

<ng-template #elseBlock2>
    <div *ngIf="!isConnected; then thenBlock1 else elseBlock1"></div>
    <ng-template #thenBlock1>
        <app-access (itemEvent)="hasConnected()"></app-access>
    </ng-template>

    <ng-template #elseBlock1>

        <div *ngIf="!rightChain; then thenBlock3 else elseBlock3"></div>
        <ng-template #thenBlock3>
            <app-switch-network></app-switch-network>
        </ng-template>

        <ng-template #elseBlock3>

            <div class="info">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>Indirizzo Venditore: </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{this.order.sellerAddress}}</p>
                    </mat-card-content>

                    <mat-card-header>
                        <mat-card-title>Totale da pagare: </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{this.order.price}} AVAX <img src="../../../assets/avaxLogo.png" alt="Logo AVAX" class="logoAvax"></p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="info">
                <div *ngIf="isLoading; then thenBlock4 else elseBlock4"></div>
                <ng-template #thenBlock4 class="loading">
                    <mat-spinner></mat-spinner>
                </ng-template>
                <ng-template #elseBlock4>
                    <button aria-label="Crea transazione" mat-raised-button color="primary" type="button" (click)="createTransaction()">Crea Transazione</button>
                </ng-template>

                <div *ngIf="txConfirmed" class="txConfirmed">
                    <p>Transazione confermata.</p>
                    <p><a mat-raised-button color="primary" type="button" href="/home">Clicca qui</a>
                        per visualizzare i tuoi ordini.</p>
                </div>
            </div>
        </ng-template>
    </ng-template>
</ng-template>