.card {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
}

.txConfirmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8%;
  align-items: center;
}

.logoAvax {
  width: 20%;
  margin-bottom: -5px;
}

p, button {
  font-size: 1.25em;
}