.card {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
}

.info button {
  margin-top: 3%;
}

.txConfirmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8%;
  align-items: center;
}