.access{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8%;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 2em;
}

.title h2 {
    font-size: 1.5em;
}

button{
    margin-top: 2%;
}