table, td, th {
    border-bottom: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

.orderTable td, .orderTable th {
    padding: 1em;
}

tr:nth-child(even) {
    background-color: #d6d6d6;
}

th:nth-child(odd) {
    border-right: 1px solid #000;
}

.orderTable th {
    background-color: #bfd6ff;
    border-right: 1px solid #000;
}

.order {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 5%;
    overflow: scroll;
}

.loading {
    margin-inline: 38%;
}

.state {
    font-weight: bold;
}
.Created {
    color: #29ab27;
}
.Deleted {
    color: #CF1507;
}
.Shipped {
    color: #a69728;
}
.RefundAsked {
    color: #c95918;
}
.Refunded {
    color: #6112b5;
}
.Confirmed {
    color: #1311a8;
}