<app-header></app-header>

<div class="order">
    <table class="mat-elevation-z8 orderTable">
        <tbody>
            <tr>
                <th>Indirizzo Venditore: </th>
                <td>{{order.sellerAddress}}</td>
            </tr>
            <tr>
                <th>ID: </th>
                <td>{{order.id}}</td>
            </tr>
            <tr>
                <th>Prezzo: </th>
                <td>{{order.amount}}</td>
            </tr>
            <tr>
                <th>Stato: </th>
                <td ngClass="{{order.state}} state">{{order.state}}</td>
            </tr>
            <tr>
                <th>Operazioni: </th>
                <td>
                    <div *ngIf="order.state === 'Created' || order.state === 'Shipped' || order.state === 'Confirmed'; then thenBlock1 else elseBlock1"></div>
                    <ng-template #thenBlock1>

                        <div *ngIf="isLoading; then thenBlock2 else elseBlock2"></div>
                        <ng-template #thenBlock2>
                            <mat-spinner class="loading"></mat-spinner>
                        </ng-template>
                        <ng-template #elseBlock2>
                            <div *ngIf="txDeniend; then thenBlock3 else elseBlock3"></div>
                            <ng-template #thenBlock3>
                                <mat-error>La transazione è stata annullata.</mat-error>
                            </ng-template>

                            <ng-template #elseBlock3>
                                <button mat-raised-button color="primary" type="button" (click)="askRefund(order.id)">Ask refund</button>
                            </ng-template>
                        </ng-template>
                        
                    </ng-template>
                        
                    <ng-template #elseBlock1>Non è possibile eseguire nessuna operazione su questo ordine.</ng-template>
                    <!-- <div>
                        <button mat-raised-button color="primary" type="button" (click)="askRefund(order.id)">Ask refund</button>
                        <button mat-raised-button color="primary" type="button" (click)="confirmOrder(order.id)">confirmOrder</button>
                        <button mat-raised-button color="primary" type="button" (click)="deleteOrder(order.id)">deleteOrder</button>
                        <button mat-raised-button color="primary" type="button" (click)="shipOrder(order.id)">shipOrder</button>
                        <button mat-raised-button color="primary" type="button" (click)="refundBuyer(order.id, order.amount)">refundBuyer</button>
                    </div> -->
                </td>
            </tr>
        </tbody>
    </table>

    <div class="logs">
        <table class="mat-elevation-z8 logsTable">
            <thead>
                <tr>
                    <th>Stato: </th>
                    <th>Data e ora: </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let log of logs">
                    <td ngClass="{{log.state}} state">{{log.state}}</td>
                    <td>{{log.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>