table, td, th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.orderTable td, .orderTable th {
    padding: 1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 5%;
}

.loading {
    margin-inline: 38%;
}

.state {
    font-weight: bold;
}
.Created {
    color: #29ab27;
}
.Deleted {
    color: #eb4034;
}
.Shipped {
    color: #a69728;
}
.RefundAsked {
    color: #c95918;
}
.Refunded {
    color: #6112b5;
}
.Confirmed {
    color: #1311a8;
}