.mat-form-field {
    margin-right: 4%;
}

form button {
    margin: 4%;
    width: 15vw;
    min-width: 125px;
    max-width: 200px;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2%;
}

.filters form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-fields, .form-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reset {
    color: #000;
    background-color: #FAF200;
}

.orders {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-bottom: 5%;
    overflow: scroll;
}

table, td, th {
    border-bottom: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

.ordersTable td, .ordersTable th {
    padding: 1em;
}

.ordersTable th {
    background-color: #bfd6ff;
}

tr:nth-child(even) {
    background-color: #d6d6d6;
}

.state {
    font-weight: bold;
}
.Created {
    color: #29ab27;
}
.Deleted {
    color: #eb4034;
}
.Shipped {
    color: #a69728;
}
.RefundAsked {
    color: #c95918;
}
.Refunded {
    color: #6112b5;
}
.Confirmed {
    color: #1311a8;
}