<div class="orderForm">
    <form [formGroup]="order" (ngSubmit)="createOrder()">
        <mat-form-field appearance="fill">
            <mat-label>Prezzo: </mat-label>
            <input type="number" name="price" id="price" matInput formControlName="price">
            <mat-error *ngIf="price.errors?.['min']">Prezzo basso</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Indirizzo Venditore: </mat-label>
            <input type="text" name="sellerAddress" id="sellerAddress" matInput placeholder="Prova"
                formControlName="sellerAddress">
            <mat-error *ngIf="sellerAddress.touched && sellerAddress.errors?.['isAddress']">Indirizzo non valido
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Indirizzo Compratore: </mat-label>
            <input type="text" name="buyerAddress" id="buyerAddress" matInput placeholder="Prova"
                formControlName="buyerAddress">
            <mat-error *ngIf="buyerAddress.touched && buyerAddress.errors?.['isAddress']">Indirizzo non valido
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Crea Ordine</button>
    </form>
</div>